{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main"> 
    
        <div class="page-title" data-aos="fade">
          <div class="heading">
            <div class="container">
              <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                  <h1>Add Course</h1>
                  <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                </div>
              </div>
            </div>
          </div>
          <nav class="breadcrumbs">
            <div class="container">
              <ol>
                <li><a href="{% url 'homepage'%}">Home</a></li>
                <li class="current">Courses</li>
              </ol>
            </div>
          </nav>
        </div><!-- End Page Title -->
        <br><br>

    <div class="container">
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
       
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.photo.id_for_label }}">Photo</label>
            {{ course.photo }}
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.name.id_for_label }}">Course Name</label>
            {{ course.name }}
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.fee.id_for_label }}">Fee</label>
            {{ course.fee }}
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.description.id_for_label }}">Description</label>
            {{ course.description }}
        </div>
    
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>

</main>
<br>
{% endblock content %}