{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="mb-4">Add Course</h1>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.photo.id_for_label }}">Photo</label>
            {{ course.photo }}
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.name.id_for_label }}">Course Name</label>
            {{ course.name }}
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.fee.id_for_label }}">Fee</label>
            {{ course.fee }}
        </div>
    
        <div class="mb-3">
            <label class="form-label" for="{{ course.description.id_for_label }}">Description</label>
            {{ course.description }}
        </div>
    
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>