{% extends 'base.html' %}
{% load static %}

{% block content %}


<main class="main"> 
    
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Add Teacher</h1>
              <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'homepage'%}">Home</a></li>
            <li class="current">Trainers</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->
    <br><br>

    
    <form method="POST" enctype="multipart/form-data" class='max-w-sm mx-auto'>
      {% csrf_token %}
      
      <!-- Rendering each field manually -->
      <div class="mb-4">
        <label for="{{ teacher.name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">Teacher Name</label>
        {{ teacher.name }}
      </div>

      <div class="mb-4">
        <label for="{{ teacher.course.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">course</label>
        {{ teacher.course }}
      </div>

      <div class="mb-4">
        <label for="{{ teacher.photo.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">Photo</label>
        {{ teacher.photo }}
      </div>

      <div class="mb-4">
        <label for="{{ teacher.description.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-700">Description</label>
        {{ teacher.description }}
      </div>

     
        <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Save 
        </button>
     
    </form>

</main>
<br>

{% endblock content %}