<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        <input type="text" name="username" id="" placeholder="username">
        <input type="password" name="password1" id="" placeholder="password">
        <input type="password" name="password2" id="" placeholder="comfirm password">
        <input type="text" name="fname" id="" placeholder="firstname">
        <input type="text" name="lname" id="" placeholder="lastname">
        <button type="submit">submit</button>
    </form>
</body>
</html>